# memory
.DS_Store
*/__pycache__/
.ipynb_checkpoints/
data/*/*.json
data/**/*.csv
data/**/*.zip
data/**/*.geojson
data/**/*.sql
data/**/usa_census_cd/*
data**/are_shp/*
examples/

notebooks/*.csv
notebooks/*.geojson
notebooks/*.sql

reports/*

data/census/*
data/census_surveys/*

# virtualenv
*/venv/
geo_env/

# private
.env
.env.secret
secrets/*

# delab
delab/**/data/
delab/**/workspace/
delab/**/certbot/


# virtual envs
transfer/.transfer
utils/.utils
