# memory
.DS_Store
*/__pycache__/
.ipynb_checkpoints/
data/*/*.json
data/**/*.csv
data/**/*.zip
data/**/usa_census_cd/*
data**/are_shp/*
examples/

notebooks/*.csv
notebooks/*.geojson
notebooks/*.sql

reports/*

data/census/*

# virtualenv
*/venv/

# private
.env
.env.secret
secrets/*