JUPYTER_PORT=8888
JUPYTER_TOKEN=changeme
JUPYTER_BASE_URL=/
JUPYTER_WORKDIR=./workspace
JUPYTER_DATA_DIR=./data
NB_UID=1000
NB_GID=100
TZ=UTC
OMP_NUM_THREADS=16
OPENBLAS_NUM_THREADS=16
MKL_NUM_THREADS=16
